.jobsCard__container {
  text-align: center;
  width: 20vw;
  margin: 24px 0;
  background: rgba(0, 0, 0, 0.04);
  transition: all 0.3s ease 0s;
  padding: 30px 40px;
  cursor: pointer;

  @media (max-width: 992px) {
    width: 50%;
  }

  @media (max-width: 768px) {
    width: 80%;
  }

  &:hover {
    transform: scale(1.1);
  }

  .jobsCard__container__category {
    text-transform: uppercase;
    font-size: 0.65rem;
    letter-spacing: 0.8px;
    opacity: 0.84;
  }
  .jobsCard__container__title {
    font-size: 1rem;
    font-weight: 500;
    line-height: 2rem;
    margin-bottom: 0 px;
  }
}
