.home__container {
  background: #f6f6f4;
  padding: 0 80px;

  @media (max-width: 1280px) {
    padding: 0 24px;
  }

  /** @section => landing banner */
  .home__container__landingBanner {
    display: flex;
    flex-direction: row;
    padding: 92px 0;
    align-items: center;
    flex-wrap: wrap;

    @media (max-width: 1200px) {
      flex-direction: column;
      padding: 92px 5vw;
    }

    @media (max-width: 768px) {
      padding: 24px 0;
    }

    div {
      flex: 1 1 0;
    }

    .home__container__landing__content {
      h1 {
        line-height: 1.2;
        font-size: 62px;
        color: #16203f;
        font-weight: 600;

        @media (max-width: 768px) {
          font-size: 45px;
        }
      }

      p {
        margin-top: 16px;
        font-size: 20px;
        font-family: "Lora", serif;
        line-height: 1.8;
      }
    }

    .home__container__landingBanner__small {
      display: none;

      @media (max-width: 1200px) {
        display: block;
      }

      img {
        width: 100%;
        height: auto;
        margin-bottom: 30px;

        @media (min-width: 1200px) {
          max-width: 50%;
        }
      }
    }

    .home__container__landingBanner__large {
      display: block;

      @media (max-width: 1200px) {
        display: none;
      }

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  /** @section => core values */
  .home__container__coreValues {
    background: #eceeee;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 60px 50px;
    margin-top: 200px;
    padding-top: 120px;
    flex-wrap: wrap;

    @media (max-width: 1200px) {
      flex-direction: column;
      padding-top: 60px;
      margin-top: 60px;
      padding-bottom: 20px;
    }

    @media (max-width: 768px) {
      padding-left: 30px;
      padding-right: 30px;
    }

    div {
      flex: 1 1 0;
      padding: 0 70px;
      position: relative;

      @media (max-width: 1200px) {
        padding: 0;
      }

      img {
        position: absolute;
        top: -240px;
        left: 50%;
        transform: translate3d(-50%, 0, 0);
        object-fit: contain;

        @media (max-width: 1200px) {
          display: none;
        }
      }

      h1 {
        color: #17203e;
        margin: 24px 0;
        font-size: 28px;

        @media (max-width: 1200px) {
          font-size: 32px;
          margin-top: 0px;
        }
      }

      p {
        font-family: "Lora", serif;
        font-size: 18px;
        line-height: 1.7;
        font-weight: 400;
        color: #434140;
        text-align: justify;

        @media (max-width: 1200px) {
          margin-bottom: 40px;
        }
      }
    }
  }

  /** @section => our work */
  .home__container__ourWork {
    padding: 0 80px;

    @media (max-width: 1200px) {
      padding: 0 30px;
    }

    .home__container__ourWork__workItem {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    margin-top: 150px;


      @media (max-width: 1200px) {
        margin-top: 100px;
        padding: 0 30px;
      }

      div {
        flex: 1 1 0;
      }

      @media (max-width: 1200px) {
        flex-direction: column;
      }

      .home__container__ourWork__workItem__content {
        padding: 0 70px;

        @media (max-width: 1200px) {
          margin-top: 40px;
        }

        @media (max-width: 768px) {
          padding: 0;
        }

        span {
          color: #17203e;
          font-family: "Raleway", sans-serif;
          font-weight: 500;

          @media (max-width: 1200px) {
            margin-bottom: 15px;
          }
        }

        h1 {
          font-size: 32px;
          font-family: "Raleway", sans-serif;
          margin-bottom: 32px;
          color: #434140;

          @media (max-width: 1200px) {
            margin-bottom: 15px;
          }
        }

        p {
          display: block;
          font-family: "Lora", serif;
          color: #434140;
          line-height: 1.7;

          &.highlight {
            font-size: 20px;
            margin-bottom: 8px;
          }
          margin-bottom: 24px;
        }

        a {
          text-decoration: none;
          color: #434140;
          line-height: 1.8;
          font-weight: 600;
          border-left: 3px solid #17203e;
          padding: 10px 0;
          padding-left: 16px;
          font-family: "Raleway", sans-serif;
          transition: all 0.3s ease;

          &:hover {
            color: #185f7d;
            padding-left: 20px;
          }
        }
      }

      img {
        max-width: 100%;
        object-fit: contain;
      }

      &.second {
        margin-top: 150px;

        @media (max-width: 1200px) {
          margin-top: 50px;
        }

        .home__container__ourWork__workItem__content {
          @media (max-width: 1200px) {
            margin-bottom: 50px;
          }
        }
      }
    }
  }

  /** @section => our team */
  .home__container__ourTeam {
    margin-top: 180px;

    @media (max-width: 1200px) {
      margin-top: 100px;
    }

    h1 {
      text-align: center;
      margin-bottom: 12px;
      color: #434140;
      font-family: "Raleway", sans-serif;
      font-size: 32px;
      font-weight: 600;
    }

    p {
      max-width: 445px;
      margin: 0 auto;
      text-align: center;
      line-height: 1.7;
      font-family: "Lora", serif;
      color: #434140;
    }

    .home__container__ourTeam__teams {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
      padding: 0 20px;

      @media (max-width: 1200px) {
        flex-direction: column;
      }
    }
  }

  /** @section => team expansion */
  .home__container__teamExpansion {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 180px;
    border-bottom: 3px solid #bfc1c6;

    h1 {
      text-align: center;
      margin-bottom: 12px;
      color: #434140;
      font-family: "Raleway", sans-serif;
      font-size: 38px;
      font-weight: 600;
    }

    p {
      max-width: 545px;
      margin: 0 auto;
      text-align: center;
      line-height: 1.7;
      font-family: "Lora", serif;
      color: #434140;
      font-size: 20px;
      margin-bottom: 20px;
    }

    a {
      text-decoration: none;
      color: #434140;
      line-height: 1.8;
      font-weight: 600;
      border-left: 3px solid #17203e;
      border-right: 3px solid #17203e;
      padding: 10px 20px;
      font-family: "Raleway", sans-serif;
      transition: all 0.3s ease;
      font-size: 18px;

      &:hover {
        color: #185f7d;
        padding-left: 25px;
        padding-right: 25px;
        border-color: #185f7d;
      }
    }
  }
}
