@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&family=Noto+Sans:wght@400;700&family=Raleway:wght@200;300;400;500;600&display=swap');

* {
  font-family: "Noto Sans", sans-serif;
  // font-family: 'Lora', serif;
  // font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,html{
  overflow-x: hidden;
}
